/* Write your CSS code in this file */
/*
colors: 
darkest blue: 01161e / 1, 22, 30 => font color 
dark blue: 18, 69, 89 => background
light blue: 89, 131, 146 => background, button trim 
pale mint: 174, 195, 176 => Guess button color, hint button color
very pale mint: 239, 246, 224 => reset button?, 
https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0

red - 230, 57, 70 => reset game, font color for Guess button 
beige - 241, 250, 238 => guess button or other buttons
pale blue - 168, 218, 220 => guessing game area background
blue - 69, 123, 157 => main background
dark blue - 29, 53, 87 => font color
https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557
media queries: min-width:1200px, 992px, 768px, 576px
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans&family=Poppins&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
color:rgb(29, 53, 87);
font-family:'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}
body{
background-color:rgb(69, 123, 157);
max-height:100vh;
}
.guessing-game-group{
background-color:rgb(168, 218, 220) ;
margin:2rem auto;
padding:2rem;
text-align: center;
display:flex;
flex-direction: column;
flex:1;
}
header{
display:flex;
flex:1;
justify-content: center;
align-items:center;
flex-wrap: wrap;
padding:1rem;
margin:1rem auto;
flex-direction: column;      
}
main{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:1rem;
display:flex;
flex-direction: column;
flex: 1;
justify-content: center;
align-items: center;        
} 

h1{
font-size: 2.5rem;
padding:0.5rem;
}

h2{
    font-size:1.5rem;
    padding:0rem 1rem;
}

ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.input-group{
display:flex;
flex:1 1 0;
margin:2rem auto;
}

.submit-button{
font-family:'Bebas Neue',Tahoma, Geneva, Verdana, sans-serif;
font-size:1.5rem;
background-color:rgb(57, 230, 144);
color: rgb(29, 53, 87);
border:1px solid transparent;
border-radius:50%;
width:4.5rem;
height:4.5rem;
text-align:center;
box-shadow:0px 6px 4px -4px rgba(0, 77, 19, 0.50);
position:absolute;
transition: background-color .20s ease-in-out,border-color .20s ease-in-out,box-shadow .20s ease-in-out;
}
.submit-button:hover{
background-color:rgb(241, 250, 238);
border:1px solid rgb(57, 230, 144);
color: rgb(139, 145, 153);
}
.submit-button:active{
background-color:rgb(57, 230, 144);
color: rgb(29, 53, 87);
}

#player-input {
    font-family: 'IBM Plex Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    color: rgb(230, 57, 70);
    background-color: rgb(241, 250, 238);
    border: 2px solid rgb(29, 53, 87);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    text-align: center;
    box-shadow: 0px 8px 6px -1px rgba(0, 5, 77, 0.5);
    position: relative;
}

.guesses-display{
padding:0.5rem 1.5rem;
margin:0.5rem 1rem;
text-align: center;
}


.guess-box{
list-style: none;
box-shadow: 0px 4px 2px -1px rgba(0, 5, 77, 0.5);
margin: 0.5rem 1rem;
border: 2px solid  rgb(241, 250, 238);
padding:0.5rem 1rem;
border-radius:15%;
font-size:1rem;
}

.hint-and-reset{
font-size:1rem;
font-weight:500;
padding:0.5rem 1rem;
border-radius:5%;
margin:0rem 1rem;
box-shadow: 0px 4px 2px -1px rgba(0, 5, 77, 0.5);
transition: background-color .20s ease-in-out,border-color .20s ease-in-out,box-shadow .20s ease-in-out; /*eases color transition when user hovers over buttons*/
}


#reset-button{
background-color:rgb(235, 111, 122);
color:rgb(241, 250, 238);
border: 1px solid transparent;
}
#reset-button:hover{
background-color:rgb(241, 250, 238);
border:1px solid rgb(235, 111, 122);
color:rgb(212, 60, 73);
}
#reset-button:active{
background-color: rgb(235, 111, 122);
color:rgb(241, 250, 238);
}

#hint-button{
border: 1px solid transparent;
color:rgb(241, 250, 238);
background-color: rgb(69, 123, 157 );
}
#hint-button:hover{
background-color:rgb(241, 250, 238);
border:1px solid rgb(69,123,157);
color:rgb(69, 123, 157);
}
#hint-button:active{
background-color: rgb(69, 123, 157 );
color:rgb(41, 95, 158);
}

/*Media Queries! */

@media screen and (max-width:361px){

}
/* To - Do
*Finalize color schreme 
*Finalize font choice and font sizes
*Make Guess! button float to the top left of the input button
*hover and click animations + color changes 
*Style the guesses list 
*Style the reset button
*Style the Hint button 
*media queries

Okay, so what I need to do is to identify the breakpoints I want to target with media queries, 
identify the elrements that must be changed, change threm adequately, and make sure nothing else breaks 
desired breakpoints: 361px, 769px,
*/